@mixin school-stars($color,$color-darker,$color2,$color-darker2){
    
    .layer {
        &.school-stars{
            background-color: rgba($color:$color , $alpha: 0.5);
        }
        &.school-stars-2 {
            background-color: rgba($color:$color2 , $alpha: 0.5);
        }
    }
    
    .nav-bar {
        &.school-stars-nav {
            .navbar {

                a{
                    color: $color !important;
                    &:hover,
                    &:active,
                    &:focus,
                    &.active {
                    color: $color-darker !important;
                    border-bottom: 2px solid $color-darker;
                }
 
            }
            }
        }
        &.school-stars-nav-2 {
            .navbar {
                a{
                    color: $color2 !important;
                    &:hover,
                    &:active,
                    &:focus ,
                    &.active{
                    color: $color-darker2 !important;
                    border-bottom: 2px solid $color-darker2;
                } 
            }
            }
        }
    }
    .about-student {
        &.about-student-1{
            dl{
                dt {
                    color: $color;
                }
            }
        }
        &.about-student-2 {
            dl{
                dt {
                    color: $color2;
                }
            }
        }
        
    }

    .student-grades {
        &.student-grades-1{
            table{
                border: 2px solid $color !important;
                th,td {
                    border: 2px solid $color !important;
                }
            }
        }
        &.student-grades-2{
            table{
                border: 2px solid $color2 !important;
                th,td {
                    border: 2px solid $color2 !important;
                }
            }
        }
        
    }

    .tips {
        &.tips-student-1{
            .card {
                background-color: $color !important;
            }
        }
        &.tips-student-2{
            .card {
                background-color: $color2 !important;
            }
        }
    }
}