@import "./variables";

.creat {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/ivan-aleksic-PDRFeeDniCk-unsplash.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0;
    color: #fff;
    
    form {
        width: 400px !important;
        margin: 50px 0;
        input {
            box-shadow: none !important;
        }
        a {
            color: #025a6b;
        }
        button {
            background-color: $main-color-darker;
            border: none !important;
            box-shadow: none !important;
            &:hover,
            &:focus,
            &:active {
                background-color: #025a6b !important;
            }
        }
    }
}