@font-face {
    font-family: "cairo";
    src: url('../fonts/Abril_Fatface\,Cairo/Cairo/static/Cairo-Light.ttf') format("ttf");
}

body {
    font-family: 'cairo';
    background-color: #F8F9FA;
}

.navbar {
    img {
        width: 70px;
    }

    a {
        font-size: 25px;
    }
}