@import "./school-stars.scss";
@import "./creat-account.scss";
@import "./general.scss";
@import "./variables";

#header-carousel{
    .carousel-indicators{
        li {
            width: 13px !important;
            height: 13px !important;
            border-radius: 50% !important;
            margin-left: 7px;
        }
    }
    .carousel-inner{
        text-align: center;

        .carousel-item {
            img {
                width: 100%;
                height: 600px;
            }
    
            .carousel-caption{
                transform: translatey(-170px);

                .big {
                    font-size: 100px;
                }

                h5 {
                    font-size: 40px;
                    margin-bottom: 20px;
                }
    
                p{
                    font-size: 22px;
                    line-height: 35px;
                }
            }
        }
    }
}

.our-activities {
    background-color: $background-color;
    padding-top: 60px;
    
    .head{
        margin-bottom: 60px;
    }
   
    .activity{
        padding-bottom: 50px;
        .body{
            margin-bottom: 25px;
            svg{
                color: $main-color;
            }
        }
    .content {
        h2 {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        p{
            font-size: 18px;
            line-height: 35px;
            color: grey;
        }
    }

    }
}

.students {
    background-color: #fff;

    #students-carousel,
    #students-carousel-2{
        .carousel-item-content {
            padding-top: 60px;
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }
        button{
            svg{
                color: $main-color;
                transform: translateY(-10px);
            }
        }
    }
    
}

.school-stars {
    .card {
        width: 350px;
        &:first-child {
            margin-bottom: 25px;
        }
        .card-body {
            .card-title {
                font-size: 25px;
            }
            a {
                background-color: $main-color;
                border-color: $main-color;
                box-shadow: none !important;
                &:hover{
                    background-color: $main-color-darker;
                }
            }
        }
    }
}

.contact {
    background-color: #fff;
    .call-us{
        margin-bottom: 25px;
        .list-group {
            svg {
                color: $main-color;
                margin-left: 10px;
            }
            
        }
    }
    iframe {
        width: 100%;
    }
}

@media (max-width: 825px){
    .students{
        #students-carousel {
            display: none;
        }
        #students-carousel-2 {
            display: block !important;
        }
    }
}

@media (max-width: 952px) {
    #header-carousel{
        .carousel-caption{
            .head{
                font-size: 30px !important;
                &.update {
                    transform: none;
                }
            }
            .big {
                font-size: 50px !important;
            }
        }
    }
}